{% extends "neighborhood/group_base.html" %}

{% block pregroup %}
<div class="col-md-4">
	<div class="content no-b">
		{% if user.is_authenticated %}
		<h1>
			Welcome back
			<a href="{% url 'posts:for_user' username=user.username %}">@{{user.username }}</a>
		</h1>

		{% endif %}
		<h2><i class="fas fa-home"></i> Neighborhoods</h2>

		<p>Welcome to the Neighborhood communities Page!</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, expedita. Accusamus nam dolorum voluptates
			aperiam inventore quas sunt fugiat dolorem?</p>
		{% if user.is_authenticated %}
		<a href="{% url 'neighborhood:create' %}" class="btn btn-md btn-fill btn-warning no-b mb-4"><i
				class="fas fa-plus"></i> Create
			New Community</a>
		{% endif %}
	</div>

</div>
{% endblock %}

{% block group_content %}
<div class="col-md-8">
	<div class="list-group no-b">
		{% for group in object_list %}
		<a class="list-group-item no-b mb-2 border-top" href="{% url 'neighborhood:single' slug=group.slug %}">
			<h2 class="title list-group-item-heading">{{ group.name }}</h2>
			<div class="list-group-item-text container-fluid">
				{{ group.description_html|safe }}
				<span class="badge badge-dark float-right mr">{{ group.members.count }}
					member{{ group.members.count|pluralize }}</span>
				<span class="badge badge-dark float-right mr">{{ group.posts.count }}
					post{{ group.posts.count|pluralize }}</span>
			</div>
		</a>
		{% endfor %}
	</div>
</div>
{% endblock %}