{% extends "neighborhood/group_base.html" %}

{% block pregroup %}

<div class="col-md-4">
	<h1>{{group.name}}</h1>
	<p>{{group.description_html|safe}}</p>
	<h3> <i class="fas fa-users"></i> {{group.members.count}} resident{{group.members.count|pluralize}}</h3>
	
	<div class="content">
	
	
		{% if user in group.members.all %}
		<a href="{% url 'neighborhood:leave' slug=group.slug %}" class="btn btn-lg btn-fill btn-warning">
			<i class="fas fa-times"></i> 
			Leave</a>
		{% else %}
		<a href="{% url 'neighborhood:join' slug=group.slug %}" class="btn btn-lg btn-fill btn-warning">
			<i class="fas fa-plus"></i> 
			Join</a>
		{% endif %}
	
	
	
	</div>
</div>


{% endblock %}


{% block group_content %}

<div class="col-md-8">
	{% if group.posts.count == 0 %}
	<h2>No posts in this group yet!</h2>

	{% else %}

	{% for post in group.posts.all %}
	{% include "posts/_post.html" %}
	{% endfor %}

	{% endif %}
</div>
{% endblock %}