<nav class="mb-1 navbar navbar-expand-lg navbar-light bg-transparent">
    <div class="container">
        <a class="navbar-brand" href="{%url 'home'%}"><i class="fas fa-home"></i> Nachbarschaft</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
            aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{%url 'home'%}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'neighborhood:all'%}">Browse Communities</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto nav-flex-icons">
                <form class="form-inline" action="{%url 'neighborhood:search'%}">
                    <div class="md-form my-0">
                        <input class="form-control empty mr-sm-2 no-b" type="search" placeholder="Search Businesses"
                            id="iconified" aria-label="Search" name="search"
                            style="font-family: Arial, 'Font Awesome 5 Free'">
                    </div>
                </form>
                {%if user.is_authenticated%}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user"></i> <span id="user">@{{user.username}}</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-default"
                        aria-labelledby="navbarDropdownMenuLink-333">
                        <a class="dropdown-item" href="{% url 'posts:for_user' username=user.username %}">Profile</a>
                        <a class="dropdown-item" href="{%url 'neighborhood:create'%}">Create Community</a>
                        <a class="dropdown-item" href="{%url 'admin:index'%}">Admin</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{%url 'accounts:logout'%}">Logout</a>
                    </div>
                </li>
                {%else%}
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'accounts:login'%}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'accounts:signup'%}">Sign Up</a>
                </li>
                {%endif%}
            </ul>
        </div>
    </div>

</nav>